<server
    mimic="https://maven.fabricmc.net"
    tunnelRegisterEndpoint="/register"
    tunnelUrl="/tunnel"
    obfuscationSecret="pulsar_HAtes_himSELF"
    publicKey="[
      30,
      251,
      42,
      108,
      71,
      86,
      17,
      252,
      4,
      87,
      213,
      211,
      185,
      189,
      216,
      204,
      2,
      79,
      81,
      160,
      221,
      173,
      84,
      184,
      166,
      79,
      141,
      248,
      7,
      220,
      105,
      178
    ]"
    privateKey="[
      48,
      46,
      2,
      1,
      0,
      48,
      5,
      6,
      3,
      43,
      101,
      112,
      4,
      34,
      4,
      32,
      22,
      44,
      70,
      39,
      3,
      139,
      224,
      107,
      185,
      120,
      240,
      120,
      140,
      168,
      21,
      233,
      7,
      63,
      132,
      126,
      176,
      36,
      9,
      112,
      48,
      21,
      178,
      81,
      84,
      241,
      50,
      250
    ]"
/>
